@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    padding: 0 1.5rem;

}

.counter-app {
    background-color: var(--color-sec);
    color: white;
    width: 40rem;
    padding: 1rem;
    border: 1px solid var(--grey);
    text-align: center;
    border-radius: 5px;

}

.counter-app>* {
    margin-bottom: 20px;
}

.count {
    font-size: 4rem;
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 2rem;

}

.buttons button {
    margin: 0 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    /* color: var(--white); */
}

button.Subtract {
    background-color: #db6400;
    color: #eee;
}

button.Reset {
    background-color: white;
    color: black;
}

button.Add {
    background-color: green;
    color: #eee;

}

/* button.Add:hover {
  background-color: var(--grey);
  color: #160101;
  outline: green solid 1px;
} */