@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--dark-grey);
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.sample {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #fff;
    text-align: center;
    line-height: 1.5em;
    width: 90rem;
    margin: auto;
    height: 100vh;
}

.sample p {
    margin-top: 2rem;
}

.sample h1 {
    font-weight: 500;
    font-size: 3rem;
}

.sample h1 span {
    font-weight: 800;
    color: #db6400;
}

.button-2 {
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
    color: #eee;
    outline: white;
    border: white solid 1px;
    margin-top: 30px;
    font-weight: 400;
    border-radius: 5px;
}


.button-2:hover {
    background-color: #db6400;
    transition: all .8s;
}

.pop-up {
    width: 600px;
    background-color: #fff;
    border: 5px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    text-align: center;
    color: #222831;
    padding: 30px;
    border-radius: 10px;
    visibility: hidden;
    transition: transform .8s, top 0.8s;
}


.open-popup {
    visibility: visible;
    top: 30%;
    transform: translate(-50%, -50%) scale(1);
}

img {
    width: 60px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px;
}

.pop-up button {
    background-color: green;
    padding: 0 20px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;

}




.pop-up h2 {
    margin-top: 10px;
    font-size: 20px;

}

.pop-up button {
    margin-top: 40px;
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    border-radius: 5px;
}